@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/* Box border declaration */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/* Initializations */
:root {
  --darkBlue: hsl(217, 19%, 35%);
  --desaturatedBlue: hsl(214, 17%, 51%);
  --grayishBlue: hsl(212, 23%, 69%);
  --lightBlue: hsl(210, 46%, 95%);
}
body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  overflow: hidden;
  min-height: 100vh;
  /* width: 100vw;  */
  /* A side effect with flexbox when I set the width of the parent container. */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
  color: var(--desaturatedBlue);
}
h1,
h2 {
  font-weight: 700;
  color: var(--darkBlue);
}
h1 {
  margin-top: 0;
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}
p {
  line-height: 1.5;
  font-size: 1em;
}
/* grid system -- mobile first! */
.wrapper {
  background-color: white;
  height: 80vh;
  flex: 0 0 90%;
  border-radius: 1em;

  display: flex;
  flex-flow: column wrap;
}
header {
  flex: 0 0 25%;
  display: flex;
}
picture {
  width: 100%;
  height: 100%;
}
header,
[alt*="decor"] {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
[alt*="decor"] {
  width: inherit;
  height: inherit;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 85%);
  /* object-fit: contain; */
  /* A little margin appear when this property is applied */
  object-position: 50% 50%;
}
main .padded {
  margin: -1em 2em 0 2em;
}
.row-mobile {
  margin: auto 2em;
}
.row-mobile,
.row,
.active,
.row-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4em;
}
.row-mobile picture {
  flex: 0 0 20%;
}
[alt*="avatar"] {
  border-radius: 50%;
  height: 3em;
}
.row {
  display: flex;
  flex-flow: column nowrap;
  height: 3em;
  justify-content: space-evenly;
  align-items: flex-start;
  flex: 0 0 65%;
}
.row * {
  margin: 0; /* Reduce the space inside the container */
}
.arrow {
  background-color: var(--lightBlue);
  border-radius: 50%;
  padding: 1em;
}
.arrow:hover,
.arrow:focus {
  cursor: pointer;
}
.active {
  display: none;
}
.active {
  background-color: var(--darkBlue);
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 2em;
}
.active > *:first-child {
  flex: 0 0 27%;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.active > *:last-child {
  /* Select the share icon on active mode */
  flex: 0 0 10%;
  border-radius: 50%;
  padding: 0.5em;
  background-color: var(--desaturatedBlue);
}
.active .row-links {
  flex: 0 0 60%;
}
.row-links > *:nth-child(2) {
  margin: 0 2em;
}

.active img {
  /* All the svg image in the inactive row */
  width: 1.25em;
  height: 1.25em;
}

footer {
  flex: 0 0 5%;
}

.attribution {
  font-size: 0.8em;
  text-align: center;
  margin: 2em auto;
}
.attribution a {
  color: var(--darkBlue);
}

/* Small Screen Sizes */
/* @media screen and (max-width: 600px) {
} */

/* Medium screen */
@media screen and (min-width: 700px) {
  body {
    overflow: hidden;
    height: 100vh;
    flex-flow: column nowrap;
  }
  .wrapper {
    flex: 0 0 calc(100% / 3);
    /* Caveats with calc? Any polyfills? */
    width: 50%;
    border-radius: none;
  }
  header {
    flex: 0 100%;
    width: 40%;
  }

  h1 {
    margin-top: 2em;
    font-size: 1.3em;
  }
  header,
  [alt*="decor"] {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1em;
  }
  [alt*="decor"] {
    clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  }
  main {
    height: 90%;
  }
  main .padded,
  .row-mobile {
    margin-left: 0;
  }
  .row-mobile {
    position: relative;
  }
  .active {
    position: absolute;
    width: 100%;
    bottom: 125%;
    left: 40%;
    border-radius: 1em;
  }
  .active:after {
    content: "";
    display: block;
    background-color: var(--darkBlue);
    height: 0;
    width: 0;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-top: 20px solid var(--darkBlue);
    position: absolute;
    left: 50%;
    top: 100%;
  }
  [href*="normal"] {
    display: none;
  }
  main,
  footer {
    width: 60%;
  }

  footer {
    display: inline-block;
    margin: 0;
    font-size: 0.5em;
    margin-top: 1em;
  }
}

/* Large screen */
@media screen and (min-width: 993px) {
  body {
    overflow: hidden;
    height: 100vh;
    flex-flow: column nowrap;
  }
  .wrapper {
    flex: 0 0 calc(100% / 3);
    /* Caveats with calc? Any polyfills? */
    /* width: 50%; */
    height: 40%;
  }

  h1 {
    font-size: 1.6em;
  }
  p,
  h2 {
    font-size: 1.2em;
  }
  main .padded {
    margin-right: 5em;
  }

  [alt*="decor"] {
    clip-path: polygon(0% 0%, 80% 0%, 80% 100%, 0% 100%);
  }

  .active {
    width: 65%;
  }
  .active .row-links {
    flex: none;
  }

  footer {
    display: none;
  }
}
